html {
    background-color: lightgray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center
}

.weather-container {
    background: url(cloudsnsun.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    text-align: left;
    margin: 0%;
    padding: 5px 0px 0px 15px;
    width: 100%;
    height: auto;
    color: white;
    width: 99%;
    height: 140px;
    border-radius: 10px;
}


.city {
    font-size: 25px;
    font-weight: 800;
    margin: 0px
}

.icon {
    margin: -10px 0px 0px -5px;
    padding: 0px;
}

.weather {
    font-size: 18px;
    font-weight: bold;
    margin: -12px 0px 0px 0px;
}

.currentTemp,
.currentFeels {
    font-size: 18px;
    font-weight: bold;
    margin: 1px 0px;
}

#map {
    height: 100%;
}

.day {
    font-size: 20px;
    font-weight: 800;
    margin: 2px 0;
}

ul {
    margin: 0;
    padding: 0px;
}

ul li {
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    background: #eee;
    font-size: 20px;
    transition: 0.2s;
    list-style-type: none;
    margin: 8px 0px 0px 0px;
    font-family: sans-serif;
    font-weight: normal;
    background-color: slategray;
    width: 400px;
    height: 90px;
}

ul li:hover {
    background: lightgray;
}

ul li .day {
    background-color: orangered;
    width: 95%;
    height: 30px;
    margin: auto;
    font-size: 21px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

ul li .icon {
    float: right;
    margin: -10px 10px 0 0;
    width: 15%;
}

ul li .weather {
    background-color: lightgray;
    width: 95%;
    height: 20px;
    margin: auto;
    padding: 5px 0 5px;
    text-align: center;
    font-weight: bolder;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: orangered;
}

ul li .temp,
.feels {
    display: grid;
    background-color: ;
    width: 130px;
    border-radius: 20px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

ul li .temp {
    float: left;
    margin: 10px 5px 0 10px;
}

ul li .feels {
    float: left;
    margin: 10px 0px 0 0px;
}
